# Created automatically by ./dev start. Values are intentionally not provided or committed.
POSTGRES_ADMIN_PASSWORD=<generated>
POSTGRES_HOST_PORT=55432
IDENTITY_DB_USER=identity_access_app
IDENTITY_DB_PASSWORD=<generated>
CATALOG_DB_USER=catalog_app
CATALOG_DB_PASSWORD=<generated>
KEYCLOAK_DB_USER=keycloak_app
KEYCLOAK_DB_PASSWORD=<generated>
KEYCLOAK_ADMIN_USER=local_admin
KEYCLOAK_ADMIN_PASSWORD=<generated>
IDENTITY_OIDC_CLIENT_SECRET=<generated>
